.inboxImage{width:8%}
.inboxDetails{width:85%;position:relative}
.inboxSidelinks{font-size: 25px;width:8%}
.inboxdisplaylinks{position:fixed;top:0px;z-index:10000;right:7%;width:30%;opacity:0.9;overflow:hidden;background-color:white}
.observetext_x{
  transform:translateY(-100%);
  opacity:0;
  transition-duration: 1.5s;
  transition-property: "opacity, transform";
  transition-timing-function: linear;
  transition-delay: 0.5s;
}
.observetext_y{
  transform:translateX(-100%);
  opacity:0;
  transition-duration: 1.5s;
  transition-property: "opacity, transform";
  transition-timing-function: linear;
  transition-delay: 0.5s;
}
.lgpadding{padding:50px}

@media all and (max-width:600px) {
  .inboxImage{width:15%}
  .inboxDetails{width:70%;position:relative}
  .inboxSidelinks{font-size: 25px;width:13%}
  .inboxdisplaylinks{position:fixed;top:0px;z-index:10000;right:7%;width:50%;opacity:0.9;overflow:hidden;background-color:white}
  .lgpadding{padding:5px}
}
@media all and (max-width:480px) {
  .inboxImage{width:20%}
  .inboxDetails{width:70%;position:relative}
  .inboxSidelinks{font-size: 25px;width:13%}
  .inboxdisplaylinks{position:fixed;top:0px;z-index:10000;right:7%;width:50%;opacity:0.9;overflow:hidden;background-color:white}
}