.title {
    display: flex;
    flex-direction: row;
    color:grey
  }
  .title:before, .title:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #FF6347;
    margin: auto;
  }
  .title:before {
    margin-right: 10px
  }
  .title:after {
    margin-left: 10px
  }
  .row input{
    border-radius:0;
    background-color:rgba(252,252,252,0.1);
    border:20px;
    border-bottom:1px solid grey;
    box-shadow:none
  }
  .row input:focus{
      outline: none;
      box-shadow: none !important;
      border-radius:0;
    background-color:rgba(255,255,255,0.1);
    border:0;
      border-bottom: 1px solid #FF6347;
  }
  .row .col-6 input:focus{
      box-shadow:0;
      outline:"none"
  }

  .messagebox{
    width:57%
  }
  .signupsection{display:none}
  .usersdiv{
    left:30%;top:15%;width:35%;
  }
  .imagedisplay{width:13%}
  .contain{padding:0px 300px}
  .inboxbackground{width:70%}
  .navdiv_sm a:hover{color:"red"}
  .navdivlist a:hover{color:"red"}
  .creategroupmodal{top:30%;height:45%;left:35%;width:30%}
  @media all and (max-width: 1200px) and (min-width:992px){
    .creategroupmodal{top:30%;height:45%;left:35%;width:30%}
    .inboxbackground{width:70%}
    .signupsection{display:none}
    .messagebox{
      width:50%
    }
    .usersdiv{
      left:30%;top:15%;width:40%;
    }
    .contain{padding:0px 200px} 
  }
  @media all and (max-width: 992px)  and (min-width:768px){
    .creategroupmodal{top:30%;height:45%;left:25%;width:50%}
    .inboxbackground{width:90%}
    .signupsection{display:none}
    .messagebox{
      width:45%
    }
    .usersdiv{
      left:30%;top:15%;width:40%;
    }
    .contain{padding:0px 100px}
  }
  @media all and (max-width: 768px) and (min-width:550px){
    .creategroupmodal{top:20%;height:50%;left:20%;width:60%}
    .signupsection{display:none}
    .inboxbackground{width:100%}
    .messagebox{
      width:65%
    }
    .usersdiv{
      left:25%;top:15%;width:50%;
    }
    .contain{padding:0px 0px}
  }
  @media all and (max-width: 550px) and (min-width:450px){
    .creategroupmodal{top:20%;height:50%;left:10%;width:80%}
    .inboxbackground{width:100%}
    .signupsection{display:block}
    .imagedisplay{width:15%}
    .messagebox{
      width:90%
    }
    .usersdiv{
      left:5%;top:15%;width:90%;
    }
    .contain{padding:0px 0px}
  }
  @media all and (max-width: 450px){
    .creategroupmodal{top:20%;height:50%;left:10%;width:80%}
    .signupsection{display:block}
    .inboxbackground{width:100%}
    .imagedisplay{width:18%}
    .contain{padding:0px 0px}
  }